body {
	color: ghostwhite;
	font-family: Times New Roman;
	background-color: rgba(255, 255, 255, 0.8);
}
 .form-section {
     background-image: url('https://t3.ftcdn.net/jpg/06/42/31/66/360_F_642316683_7OFn4973XdN2ArwGnNIFlYydnetn5Fhs.jpg');
      padding: 60px;
      border-radius: 8px;
      color: black;
    }
    .form-box {
     background-color: rgba(255, 255, 255, 0.8);
      padding: 60px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
    .form-box label {
      font-weight: bold;
    }